.rect {
	fill: #eeeeee;
	stroke: white;
	stroke-width: 2;
}
.manual {
	stroke: lightpink;
}

.text {
	stroke: blue;
	stroke-width: 1;
}

.tramo-normal {
	stroke: black;
	stroke-width: 4;
}
.tramo-muerto {
	stroke: silver;
	stroke-width: 3;
}
.seleccionada {
	fill: lightblue;
}
