.senal {
  stroke-width: 2;
  stroke: black;
  pointer-events: bounding-box;
}
.senal:hover {
  stroke: lightblue;
}

.verde {
  fill: green;
}

.rojo {
  fill: red;
}

.amarillo {
  fill: yellow;
}

.manual {
  stroke: lightpink;
}
