.label {
  font-weight: bold;
  text-align: center;
}

.pushDown {
  margin-top: 1.5em;
}

.cambio {
  display: flex !important;
}

.manual {
  clear: both;
  display: block !important;
  margin: 0 auto;
  margin-top: 3px;
}

.hidden button {
  visibility: hidden;
}

.close {
  margin-left: 0.5em;
}

.disabled {
  opacity: 0.5;
}

.solapas {
  border-bottom: thin solid silver;
  margin-bottom: 2px;
}

.solapa {
  background-color: lightcyan;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;
}

.solapa:hover {
  background-color: lightblue;
}
