.label {
  font-weight: bold;
  text-align: center;
}

.pushDown {
  margin-top: 1.5em;
}

.senales {
  text-align: center;
}

.senal {
  float: left;
  border: thin solid silver;
  border-radius: 3px;
  padding: 2px;
}

.manual {
  display: block !important;
  margin-top: 3px;
}

.hidden button {
  visibility: hidden;
}

.close {
  margin-left: 0.5em;
}
.disabled {
  opacity: 0.5;
}
