.semaforo {
  stroke-width: 2;
  stroke: black;
  pointer-events: bounding-box;
}
.semaforo:hover {
  stroke: lightblue;
}

.verde {
  fill: green;
}

.rojo {
  fill: red;
}

.amarillo {
  fill: yellow;
}

.maniobra {
  stroke: lightpink;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
