.info {
  background-color: inherit;
}
.warning {
  background-color: yellow;
}
.danger {
  background-color: orange;
}

.fixed {
  position: fixed;
  bottom: 0;
  background-color: white;
  margin-bottom: 0 !important;
}
.buttons {
  width: 5em;
}
