.info {
  background-color: inherit;
}

.warning {
  background-color: var(--warning);
}

.danger {
  background-color: var(--danger);
}

.fixed {
  position: fixed;
  bottom: 0;
  background-color: white;
  margin-bottom: 0 !important;
}

.buttons {
  width: 5em;
}
