.form {
  margin: 1em 10%;
  border: silver solid thin;
  padding: 1em;
}

.list {
  border: silver solid thin;
  padding: 1em;
}
.list li:nth-child(odd) {
  background-color: #eee;
}
.list li:nth-child(even) {
  background-color: #ddd;
}
.normal {
}
.warning {
  background-color: yellow;
}
.danger {
  background-color: orange;
}
